
<div *ngIf="!this.authService.isLogin else loggedIn">
  <form class="login-form" [formGroup]="form" (ngSubmit)="submitForm()">

    <div class="login-form__title">Авторизоваться</div>

    <mat-form-field class="login-form__field">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput
             placeholder="Ex. pat@example.com">
      <mat-error
        *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      >
        Email не валиден
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-form__field">
      <mat-label>Пароль</mat-label>
      <input type="password" formControlName="password" matInput
             placeholder="Qwerty123">
      <mat-error
        *ngIf="form.get('password')?.errors?.minlength"
      >
        Длина пароля должна быть {{form.get('password')?.errors?.minlength.requiredLength}} символов. Сейчас длина равна {{form.get('password')?.errors?.minlength.actualLength}}.
      </mat-error>
    </mat-form-field>
    <div>
      <button
        type="submit"
        mat-raised-button color="primary"
        [disabled]="form.invalid || authService.submited"
      >
      Авторизоваться
      </button>
    </div>

  </form>



</div>

<ng-template #loggedIn>
  <div class="login-form">
    <div class="login-form__title">Вы авторизованы</div>
  </div>
</ng-template>





