<div class="wrapper">
  <mat-toolbar color="primary">
    <div class="container">
      <header class="header">
        <div [routerLink]="['/']" class="title">Мой супер блог</div>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <span class="nav__link" [routerLink]="['/']">Главная</span>
            </li>
            <li class="nav__item">
              <span class="nav__link" [routerLink]="['/admin']">Админка</span>
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </mat-toolbar>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
<app-popup *ngIf="authService.showPopup$ | async as content" [contentText]="content"></app-popup>
