<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="example-header-image" />
    <mat-card-title>{{post?.title}}</mat-card-title>
    <mat-card-subtitle>{{post?.date | date: "medium"}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>{{post?.author}}</mat-card-title>
    <div [innerHTML]="post?.content"></div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/']">К списку постов</button>
  </mat-card-actions>
</mat-card>
