<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="example-header-image" />
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-title>Автор: {{post.author}}</mat-card-title>
    <mat-card-subtitle>{{post.date | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['post-page', post.id]">Открыть</button>
  </mat-card-actions>
</mat-card>
