  <div class="container">
    <div class="admin-header">
      <h1 class="title">Админка</h1>
    </div>
  </div>
  <div class="container container_flex">
    <aside class="container__aside">
      <mat-card>
        <ul class="admin-menu">
          <li class="admin-menu__item">
            <a [routerLink]="['/']" mat-button color="primary">На главную</a>
          </li>
          <li class="admin-menu__item">
            <a [routerLink]="['/admin', 'dashboard']" [disabled]="!this.authService.isLogin" mat-button color="primary">Главная</a>
          </li>
          <li class="admin-menu__item">
            <a [routerLink]="['/admin', 'create']" [disabled]="!this.authService.isLogin" mat-button color="primary">Создать</a>
          </li>
          <li class="admin-menu__item">
            <a href="" mat-button color="primary" (click)="logout($event)">Выйти</a>
          </li>
        </ul>
      </mat-card>
    </aside>
    <div class="container__main-content">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>

