.admin-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;

  &__item {
    margin-bottom: 15px;
    position: relative;
    &_active {
      & .mat-focus-indicator {
        text-decoration: underline;
      }
    }
  }


}

